<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="conexionTienda"
			 connectionString="Data Source=LAPTOP-DBFSRNE4\SQLEXPRESS;Initial Catalog=TIENDAUNED;Integrated Security=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
